#mainbody
{
	margin-left: 28%;
}

.collapsible-body
{
	display: none;
}

#nav
{
	width: 28%;
}

#nav li
{
	padding-left: 5%;
}

#navlogo
{
	margin-left: 39%;
	margin-top: 2%;
}

#maindb
{
	display: none;
	margin-left: 15%;
}

.mainoption
{
	float: left;
	margin-left: 15%;
	margin-top: 5%;
}

#selectdb
{
	margin-left: 40%;
	margin-top: 8%;
}

.mainoption p
{
	padding-left: 10%;
}

#header
{
	margin-top: 0;
	height: 108px;
	width: 100%;
	background-color: #1E88E5;
}

#header i
{
	position: absolute;
	top: 12px;
	left: 30%;
}

#intro
{
	margin-left: 24%;
	margin-top: 5%;
}

.form
{
	margin-left: 29%;
	margin-top: 2%;
}

tr, td
{
	border: 1px solid black;
}

.content
{
	margin-left: 1px;
	padding: 2%;
	float: left;
}

#liensbc
{
	margin-left: 30%;
}