#mainbody
{
	margin-left: 28%;
}

.collapsible-body
{
	display: none;
}

#nav
{
	width: 28%;
}

#navlogo
{
	padding-left: 10%;
}

#nav li
{
	padding-left: 5%;
}

#maindb
{
	margin-left: 15%;
}

.mainoption
{
	float: left;
	margin-left: 15%;
	margin-top: 12%;
}

#selectdb
{
	margin-left: 40%;
	margin-top: 35%;
}
.mainoption p
{
	padding-left: 10%;
}

#header
{
	position: fixed;
	margin-top: 0;
	padding-left: 28%;
	height: 110px;
	width: 100%;
	background-color: #1E88E5;
}

#header h4
{
position: absolute;
top: 20px;
right: 35%;
}

#header i
{
	position: absolute;
	top: 12px;
	left: 30%;
}