.mainbody
{
  margin-left: 28%;
    margin-top: 20%;
}

.collapsible-body
{
  display: none;
}

#nav
{
  width: 28%;
}

#navlogo
{
  padding-left: 10%;
  margin-bottom: 60px;
}

#nav li
{
  padding-left: 5%;
}

#maindb
{
  display: none;
  margin-left: 15%;
}

.mainoption
{
  float: left;
  margin-left: 15%;
  margin-top: 5%;
}

#selectdb
{
  margin-left: 28%;
  padding: 2%;
}

 #selecttable
 {
  padding: 2%;
  margin-left: 28%
 }

.mainoption p
{
  padding-left: 10%;
}

#header
{
  padding-left: 28%;
  height: 110px;
  width: 100%;
  background-color: #1E88E5;
}

#header h4
{
position: absolute;
top: 20px;
right: 35%;
}

#header i
{
  position: absolute;
  top: 12px;
  left: 30%;
}

.mainbody h5 
{
    text-align: center;
    padding-top: 2%;
}

.content
{
  margin-left: 1px;
  padding: 2%;
  float: left;
}

.result
{
  margin-left: 29%;
}

.form
{
  margin-top: 6%;
}

#liensbc
{
  margin-left: 29%;
}

 i.material-icons {
      vertical-align: middle;
 }